@import "../scss/partials/vars";
@import "../scss/partials/body";
@import "../scss/partials/navBar";
@import "../scss/partials/principal";
@import "../scss/partials/footer";
@import "../scss/partials/mediaQueries";

