*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
}

/* INDEX - HEADER*/

#header{
    margin: 10px;
    background-color: white;
    padding: 0 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy-Regular', sans-serif;
}

.header__logo a {
    text-transform: uppercase;
    font-family: 'Gilroy-Heavy', sans-serif;
    letter-spacing: 1px;
    color: #02CDD0;
    font-size: 1.5rem;
    transition: 0.4s;
    text-decoration: none;
}

.header__menu{
    display: flex;
    padding: 0 0.62rem;
    transition: 0.4s;
}


.header__link {
    padding: 0.9rem;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #291B44;
    font-size: 1.3rem;
    transition: 0.4s;
    text-decoration: none;

}

.mostrar-menu,
.esconder-menu{
    font-size: 1.87rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.header__menu :hover,
.header__link :hover,
.mostrar-menu :hover,
.esconder-menu:hover{
    color: #02CDD0;
}

.header__logo :hover{
    color: #291B44;
}

#check {
     display: none;
 }
/*INDEX - MAIN*/
.banner{
    background-image: url(./img/pexels-rebecca-kate-4604963.jpg);
    background-size: cover;
    padding: 10rem 3rem;
    color: #291B44;
}

.banner__titulo,
.banner__span{
    font-size: 4rem;
    font-family: 'Gilroy-Heavy', sans-serif;  
    letter-spacing: 3px;   
}

.banner__span{
    color: #ffffff;
}

.banner__subtitulo{
    font-size: 1.8rem;
    font-family: 'Gilroy-Regular', sans-serif;  
    text-align: right;
}

.descripcionIndex,
.sobreMi{
    margin: 15rem 0;
    color: #291B44;
}
.descripcionIndex__img{
    width: 100%;
    border: #291B44 2px solid;
    border-radius: 15px 50px 30px;
}
.descripcionIndex__h2,
.sobreMi__h2,
.testimonio__h2{
    color: #291B44;
    font-family: 'Gilroy-Bold', sans-serif;  
    letter-spacing: 1px;
    font-size: 2rem;
}
.descripcionIndex__span,
.sobreMi__span,
.testimonio__span{
    color: #00C8CC;
    font-family: 'Gilroy-Bold', sans-serif;  
}
.descripcionIndex__texto,
.sobreMi__texto{
    font-size: 1.4rem;
    font-family: 'Gilroy-Regular', sans-serif;  

}
.descripcionIndex__boton{
    border: none;
    background-color: #291B44;
    color: white;
    font-family: 'Gilroy-Bold', sans-serif; 
    letter-spacing: 1px;
} 
      
.descripcionIndex__boton:hover{
    background-color: #00C8CC;
    color: #291B44;
   }

.sobreMi__img{
    border-radius: 50%;
    width: 80%;
}

.testimonio__tarjeta__img{
width: 50%;
}
.testimonio__tarjeta__estrellas{
    width: 50%;
}

/*





/*FOOTER*/

.footer{
    background-color: rgb(218, 213, 213);
    font-size: 1.2rem; 
    border-top: 1px solid #291B44 ;
    height: auto;
    margin:2rem 0;
    padding: 2rem 0;
}
.footer__h4{
    font-size: 1.2rem; 
}
.footer__email a{
    padding-left: 1rem;
}






/*IELTS*/
.card-container{
    width: 18rem;
}
.card-img-top{
    width: 40%;
}
.card-title{
    font-family: 'Gilroy-Bold', sans-serif;
    color: #291B44;

    font-size: 2rem;
}
.ielts{
    width: 60%;
}


/*IELTS, WORKING HOLIDAY, Tarifas*/
.containerIELTS p,
.containerWH p,
.containerTarifas p{
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
.containerIELTS h1,
.containerWH h1,
.containerTarifas h1{
    color: #291B44;
    text-align: center;
    font-size: 4rem;
    font-family: 'Gilroy-Heavy', sans-serif;  
    letter-spacing: 3px;
} 
.containerIELTS span,
.containerWH span,
.containerTarifas span{
    color: #00C8CC;
    font-family: 'Gilroy-Heavy', sans-serif;
} 
.containerIELTS li{
    font-size: 1.2rem;
}
.containerIELTS,
.containerWH,
.containerTarifas{
    margin: 5rem 0;
}

/*TARIFAS*/
.tarifas{
    width: 100%;
}

/*CONTACTO*/

.formulario h4{
    font-family: 'Gilroy-Bold', sans-serif;  
    letter-spacing: 1px;
    font-size: 2.2rem;
    color: #291B44;
    text-align: center;
}

.formulario p{
    font-family: 'Gilroy-Regular', sans-serif;  
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-align: center;
    color: #291B44;
}

.formulario__boton {
     border: none;
     background-color: #02CDD0;
}


.form-control{
    border: #291B44 1px solid;
    font-family: 'Gilroy-bold', sans-serif;  
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #291B44;
} 


.formulario__boton:hover{
    background-color: #291B44;
    color: white;
}


/*celular*/


@media only screen and (max-width:576px) {
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    #header{
        padding: 20px 50px;
    }

    .header__menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #c5f0f0;
       right: -100%;
       top: 0;
       text-align: center;
       padding: 100px 0px;
       z-index: 100;
       transition: 0.8s;
       display: block;
    }

    .header__link{
        padding: 20px;
        display: block;   
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

   #check:checked ~ .header__menu{
        right: 0;
    }
    .banner{
        padding: 8rem 0;
    }
.banner__titulo,
.banner__span{
    font-size: 2.5rem;
    font-family: 'Gilroy-Heavy', sans-serif;  
    letter-spacing: 3px;   
}

.banner__span{
    color: #ffffff;
}

.banner__subtitulo{
    font-size: 1.4rem;
    font-family: 'Gilroy-Regular', sans-serif;  
}

.descripcionIndex,
.sobreMi{
    margin: 5rem 0;
    color: #291B44;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.descripcionIndex__img{
    width: 100%;
    border: #291B44 2px solid;
    border-radius: 15px 50px 30px;
    margin-bottom: 2rem;
}
.sobreMi{
    flex-direction: column-reverse;
}
.descripcionIndex__h2,
.sobreMi__h2,
.testimonio__h2{
    color: #291B44;
    font-family: 'Gilroy-Bold', sans-serif;  
    letter-spacing: 1px;
    font-size: 1.4rem;
    text-align: center; 
}
.descripcionIndex__span,
.sobreMi__span,
.testimonio__span{
    color: #00C8CC;
    font-family: 'Gilroy-Bold', sans-serif;  
    text-align: center; 
}
.descripcionIndex__texto,
.sobreMi__texto{
    font-size: 1rem;
    font-family: 'Gilroy-Regular', sans-serif; 
    text-align: center; 

}
.descripcionIndex__boton{
    border: none;
    background-color: #291B44;
    color: white;
    font-family: 'Gilroy-Bold', sans-serif; 
    letter-spacing: 1px;
} 
      
.descripcionIndex__boton:hover{
    background-color: #00C8CC;
    color: #291B44;
   }

 
.sobreMi__img{
    border-radius: 50%;
    width: 80%;
    margin-bottom: 2rem;
}

.testimonio__tarjeta__img{
width: 50%;
}
.testimonio__tarjeta__estrellas{
    width: 50%;
}
}









/*tablet*/
@media only screen and (min-width:577px) and (max-width:1200px) {
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .header__menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #c5f0f0;
       right: -100%;
       top: 0;
       text-align: center;
       padding: 100px 0px;
       z-index: 100;
       transition: 0.8s;
       display: block;
    }

    .header__link{
        padding: 20px;
        display: block;   
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

   #check:checked ~ .header__menu{
        right: 0;
    }
    .banner{
        padding: 8rem 0;
    }
.banner__titulo,
.banner__span{
    font-size: 2.5rem;
    font-family: 'Gilroy-Heavy', sans-serif;  
    letter-spacing: 3px;   
}

.banner__span{
    color: #ffffff;
}

.banner__subtitulo{
    font-size: 1.4rem;
    font-family: 'Gilroy-Regular', sans-serif;  
}

.descripcionIndex,
.sobreMi{
    color: #291B44;
    display: flex;
    margin: 7rem 0;
}

.descripcionIndex__img{
    width: 100%;
    border: #291B44 2px solid;
    border-radius: 15px 50px 30px;

}
.descripcionIndex__h2,
.sobreMi__h2,
.testimonio__h2{
    color: #291B44;
    font-family: 'Gilroy-Bold', sans-serif;  
    letter-spacing: 1px;
    font-size: 1.4rem;
}
.descripcionIndex__span,
.sobreMi__span,
.testimonio__span{
    color: #00C8CC;
    font-family: 'Gilroy-Bold', sans-serif;  
}
.descripcionIndex__texto,
.sobreMi__texto{
    font-size: 1rem;
    font-family: 'Gilroy-Regular', sans-serif; 

}
.descripcionIndex__boton{
    border: none;
    background-color: #291B44;
    color: white;
    font-family: 'Gilroy-Bold', sans-serif; 
    letter-spacing: 1px;
} 
      
.descripcionIndex__boton:hover{
    background-color: #00C8CC;
    color: #291B44;
   }

.sobreMi__img{
    border-radius: 50%;
    width: 80%;
    margin-bottom: 2rem;
}

.testimonio__tarjeta__img{
width: 50%;
}
.testimonio__tarjeta__estrellas{
    width: 50%;
}

}




/*compu*/
@media only screen and (min-width:1201px){
    .descripcionIndex,
.sobreMi{

    display: flex;

}
}

