*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    @font-face {
        font-family: 'Gilroy-Regular';
        src: url(/fuentes/Gilroy-Light.ttf);
    }
    @font-face {
        font-family: 'Gilroy-Bold';
        src: url(/fuentes/Gilroy-Bold.ttf);
    }
    @font-face {
        font-family: 'Gilroy-Heavy';
        src: url(/fuentes/Gilroy-Heavy.ttf);
    }
}

