*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    @font-face {
        font-family: 'Gilroy-Regular' sans-serif;
        src: url(/fuentes/Gilroy-Light.ttf);
    }
    @font-face {
        font-family: 'Gilroy-Bold' sans-serif;
        src: url(/fuentes/Gilroy-Bold.ttf);
    }
    @font-face {
        font-family: 'Gilroy-Heavy' sans-serif;
        src: url(/fuentes/Gilroy-Heavy.ttf);
    }
}

