//INDEX//
.banner{
    background-image: url(/img/pexels-rebecca-kate-4604963.jpg);
    background-size: cover;
    padding: 14rem 3rem;
    color: $colorAzul;
    &__span{
        font-size: 4rem;
        font-family: $fuenteHeavy;  
        letter-spacing: 3px;   
        color: #ffffff;
    }
    &__titulo{
    font-size: 4rem;
    font-family: $fuenteHeavy;  
    letter-spacing: 3px;   
    }
    &__subtitulo{
        font-size: 1.8rem;
        font-family: $fuenteNormal;  
        text-align: right;
    }
}

.descripcionIndex{
    margin: 15rem 0;
    color: $colorAzul;
    &__img{
        width: 70%;
        border: $colorAzul 2px solid;
        border-radius: 15px 50px 30px;
    }
    &__h2{
        color: $colorAzul;
        font-family: $fuenteNegrita;  
        letter-spacing: 1px;
        font-size: 2rem;
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteNegrita;  
    }
    &__p{
        font-size: 1.4rem;
        font-family: $fuenteNormal;  
    }
    &__boton{
        border: none;
        background-color: $colorAzul;
        color: white;
        font-family: $fuenteNegrita; 
        letter-spacing: 1px;
        &:hover{
            background-color: $colorVerde;
            color: $colorAzul;
           }
    } 
}

.sobreMi{
    margin: 15rem 0;
    color: $colorAzul;
    &__h2{
        color: $colorAzul;
        font-family: $fuenteHeavy;  
        letter-spacing: 1px;
        font-size: 2rem;
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy;  
    }
    &__p{
        font-size: 1.4rem;
        font-family: $fuenteNormal;  
    }
   &__img{
        border-radius: 50%;
        width: 80%;
    }
}

.testimonio{
    font-family: $fuenteNegrita;  
    letter-spacing: 1px;
    font-size: 2rem;
    &__h2{
        color: $colorAzul;
    }
    &__span{
        color: $colorVerde;   
    }
}
.testimonio__tarjeta{  
    &__img{
        width: 40%;
    }
    &__estrellas{
        width: 40%;
    }
    &__texto{
        text-align: center;
        color: $colorAzul;
        font-family: $fuenteNormal;
    }
}

//IELTS//
.containerIELTS{
    margin: 4rem 0;
    &__h1 {
        color: $colorAzul;
        text-align: center;
        font-size: 4rem;
        font-family: $fuenteHeavy;  
        letter-spacing: 3px;
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy;
    }
    &__texto{
        margin: 1.5rem 0;
        font-size: 1.2rem;
        font-family: $fuenteNormal;
    }
}
.efectoTarjetas{
    transition: all 0.4s;
    margin: 1rem;
    &:hover{
        transform: translateY(-5%);
    }
    a{
        text-decoration: none;
    }
    &__h5{
        font-family: $fuenteNegrita;
        color: #291B44;
        font-size: 2rem;
    }
    &__icono{
        margin-top: 1rem;
        font-size: 4rem;
        color: $colorVerde;
    }
}
.containerIELTS-skills{
    &__texto{
        font-size: 1.2rem;
        font-family: $fuenteNormal;
    }
    &__lista{
        font-size: 1.2rem;
        font-family: $fuenteNormal;
    }
    &__h5{
        border: 2px solid $colorVerde;
        height: 3rem;
        margin-top: 5rem;
        font-family: $fuenteNegrita;
        color: $colorAzul;
        font-size: 2rem;
    }
}  

//working holiday//
.containerWH{
    margin: 4rem 4rem;
    &__h1{
        color: $colorAzul;
        text-align: center;
        font-size: 4rem;
        font-family: $fuenteHeavy;  
        letter-spacing: 3px;
    } 
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy;
    } 
    &__texto{
        margin: 1.5rem 0;
        font-size: 1.2rem;
        font-family: $fuenteNormal;
        color: $colorAzul;
        
    }
   .accordion-item{
        font-size: 1.2rem;
        color: $colorAzul;
        font-family: $fuenteNormal;
    }
   .accordion-button {
        color: $colorAzul;
        font-family: $fuenteNegrita;
        background-color:$colorVerde;
        border-color: white;
        box-shadow: none;
        font-size: 1.2rem;
    }
}

//cursos//

.containerTarifas{
    margin: 4rem 0rem;
    &__h1{
        color: #291B44;
        text-align: center;
        font-size: 4rem;
        font-family: $fuenteHeavy;  
        letter-spacing: 3px;
    } 
    &__texto{
        margin: 1.5rem 0;
        font-size: 1.2rem;
        font-family: $fuenteNormal;
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy;
    } 
    .cursos{
        margin: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        &__img{
            width: 80%;
        }
        &__h5{
            font-family: $fuenteNegrita;
            color:$colorAzul;
        }
        &__texto{
            font-size: 1.2rem;
            font-family: $fuenteNormal;
            color:$colorAzul;
        }
    }
    .descripcionCurso{
        &__texto{
            font-size: 1.2rem;
            font-family: $fuenteNegrita;
            color:$colorAzul;
        }

        &__lista{
        font-size: 1.2rem;
        color:$colorAzul;
        font-family: $fuenteNormal;
        }
    }
}

//contacto//
.formulario{
    margin-top: 4rem 0;
    &__h1{
        font-family: $fuenteNegrita;  
        letter-spacing: 1px;
        font-size: 2.5rem;
        color: $colorAzul;
        text-align: center;
        margin-top: 2rem;
    }
    &__texto{
        font-family: $fuenteNormal;  
        letter-spacing: 1px;
        font-size: 1.7rem;
        text-align: center;
        color: $colorAzul;
    }
}
.form-control{
    border: #291B44 1px solid;
    font-family: $fuenteNegrita;  
    letter-spacing: 1px;
    font-size: 1.3rem;
    color:$colorAzul;
} 

.formulario__boton {
     border: none;
     background-color: $colorVerde;
     font-family: $fuenteNegrita;
     &:hover{
        background-color: $colorAzul;
        color: white;
    }
}
#floatingTextarea{
    height: 300px;
}










