.blob{
    position: absolute;
    opacity: 0.8;
}
//INDEX//
.banner{
    background-image: url(/img/pexels-rebecca-kate-4604963.jpg);
    background-size: cover;
    padding: 14rem 3rem;
    color: $colorAzul;
    &__span{  
        color: #ffffff;
    }
    &__subtitulo{ 
        text-align: right;
    }
}

.descripcionIndex{
    margin: 15rem 0;
    color: $colorAzul;
    &__img{
        width: 70%;
        border: $colorAzul 2px solid;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        border-radius: 15px 50px 30px;
        box-shadow:  20px 20px 29px #aaaaaa,
             -20px -20px 29px #ffffff;
    }
    &__h3{
        color: $colorAzul; 
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy; 
    }
}

.sobreMi{
    margin: 15rem 0;
    color: $colorAzul;
    &__h3{
        color: $colorAzul;
        font-family: $fuenteHeavy;  
        letter-spacing: 1px;
        font-size: 2rem;
    }
    &__span{
        color: $colorVerde;
        font-family: $fuenteHeavy;  
    }
   &__img{
        border-radius: 50%;
        background: linear-gradient(225deg, #f0f0f0, #cacaca);
        box-shadow:  -26px 26px 52px #aaaaaa,
             26px -26px 52px #ffffff;
        width: 80%;
    }
}

.testimonio{ 
    letter-spacing: 1px;
    font-size: 2rem;
    &__h3{
        color: $colorAzul;
        font-family: $fuenteHeavy; 
    }
    &__span{
        color: $colorVerde; 
        font-family: $fuenteHeavy;   
    }
}
.testimonio__tarjeta{  
    &__img{
        width: 40%;
    }
    &__estrellas{
        width: 40%;
    }
    &__texto{
        text-align: center;
        color: $colorAzul;
        font-family: $fuenteNormal;
    }
}

//IELTS//
.containerIELTS{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    &__h2 {
        text-align: center;
    }
    &__texto{
        margin: 1.5rem 0;
    }
    .efectoTarjetas{
        transition: box-shadow 0.5s, transform 0.5s;
        margin: 1rem;
        &:hover{
            transform: scale(1.10);
        }
        a{
            text-decoration: none;
        }
        &__icono{
            margin-top: 1rem;
            font-size: 4rem;
            color: $colorVerde;
        }
    }
    .containerIELTS-skills{
        width: 90%;
    }
    .containerIELTS-skills__h3{
            border: 2px solid $colorVerde;
            height: 3rem;
            margin-top: 5rem;
    } 
}
 

//working holiday//
.containerWH{
    margin: 4rem;
    &__h2{
        text-align: center;
    } 
    a{
        text-decoration: none;
        color: $colorAzul;
        font-family: $fuenteNegrita;
    }
   .accordion-button {
        color: $colorAzul;
        font-family: $fuenteNegrita;
        background-color:$colorVerde;
        border: 1px solid white;
        box-shadow: none;
        font-size: 1.2rem;
    }
}

//cursos//

.containerTarifas{
    margin: 4rem;
    &__h2{
        text-align: center;
    } 
    .containerTarjetasCursos{
        display: flex;
    }
    .cursos{
        margin: 1rem;
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
        transition: box-shadow 0.5s, transform 0.5s;
        &:hover{
            transform: scale(1.05);
        }
        &__img{
            width: 80%;
        }
    }
}

//contacto//
.formulario{
    margin-top: 4rem 0;
    &__h2{
        font-size: 2.5rem;
        text-align: center;
        margin-top: 2rem;
    }
    &__texto{
        text-align: center;
    }
}
.form-control{
    border: #291B44 1px solid;
    font-size: 1.2rem;
    font-family: $fuenteNormal;
} 
#floatingTextarea{
    height: 300px;
}
